.contact{
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(48, 48, 48, 0.904);
    color: rgb(236,236,236);
    padding-top: 2rem;
}
.contact .location,
.contact .contact-details{
    height: 100%;
    width: 30%;
}
.contact .location h2,
.contact .contact-details h2{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: 'Pattaya', 'arial',sans-serif;
}
.contact .location .address,
.contact .location .open-close-time,
.contact .contact-details .ph-numbers{
    width: 100%;
    font-family: 'KoHo', 'arial', sans-serif;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .location .address{
    height: 12%;
}
.contact .location .open-close-time{
    height: 15%;
}

.contact .contact-details ph-numbers{
    height: 16%;
}


