.main-content{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 177);
}
.main-content .slide-show{
    width: 85%;
    margin: 0 auto;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-content .my-slide{
    height: 100%;
    width: 100%;
    position: absolute;
}
.main-content .imges{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.fade{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade{
    from{
        opacity: .6;
    }
    to{
        opacity: 1;
    }
}
@media(max-width: 414px){
    .main-content .slide-show{
        height: 20rem;
        width: 90%;
    }
}
